<html>
    <head>
        <title>suzuk's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Suzuki の ブログ</a></h1>
        </div>

        <div>
            <p>published: 24.03.2021, 20:40</p>
            <h2><a href="">My first post</a></h2>
            <p>Aenean eu leo quam. こんにちは！よろしくお願いします！</p>
        </div>

        <div>
            <p>公開日： 2021/03/24, 20:40</p>
            <h2><a href="">２番目の投稿</a></h2>
            <p> こんにちは！よろしくお願いします！</p>
        </div>
    </body>
</html>
